[access]
	inheritFrom = All-Projects
[project]
	description = Honeycomb Virtual Bridge Domain
[access "refs/*"]
	owner = group ldap/odl-gerrit-honeycomb-vdb-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
